<nav>
    <div class="container">
        <div class="nav-inner">
            <a href="/" class="nav-logo">
                <img src="/images/logo.png" alt="DealShark logo">
                <span>Deal<strong>Shark</strong></span>
            </a>
            <ul class="nav-links">
                <li><a routerLink="" routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact: true}">Deals</a></li>
                <li><a routerLink="">Top Rated</a></li>
                <li><a routerLink="">New Releases</a></li>
                @if (authenticated) {
                    <li><a routerLink="wishlist" routerLinkActive="active-nav">Wishlist</a></li>
                    <li><button class="nav-btn" (click)=logout()>Logout</button></li>
                }
                @else {
                    <li><a routerLink="login" class="nav-cta">Sign In</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
