.container {
    margin-top: var(--space-lg);
}

.filter-bar {
  display: flex;
  align-items: flex-end;
  gap: var(--space-lg);
  margin-block: var(--space-xl);
  flex-wrap: wrap;
}

.filter-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
}

.on-sale {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  white-space: nowrap;
}